<div class="banner" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "banner.jpg" %>)">
<h1>Les 29 ans confits nés</h1>
<h2>Super, excellent</h2>
<% if user_signed_in? %>
  <p id="log-out-link">Déconnexion</p>
  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link", id: 'hidden-logout-link' %>
<% end %>

<div class="connected" style="width: 100%; justify-content: space-evenly; display: flex; color: white">
  <p class="locate">Pierre-Alexandre est <%= Room.find(2).room == "dans La Terrasse" ? "sur La Terrasse" : Room.find(2).room %></p>
  <p class="locate">Olivier est <%= Room.find(1).room == "dans La Terrasse" ? "sur La Terrasse" : Room.find(1).room %></p>
</div>
<p id="actualise"><em>(Il faut actualiser la page pour savoir si Olivier ou PA a changé de pièce)</em></p>
<!-- <h5>(Vu que c'est à distance, on peut tout se faire mettre)</h5> -->
</div>

<div class="d-flex links-container">
  <%= link_to "https://us02web.zoom.us/j/88351248563", target: "_blank", class: "card-link link-to-js" do %>
    <div class="card-cont" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "salon_v2.png" %>);" >
      <p>Le Salon</p>
    </div>
  <% end %>
  <%= link_to "https://us02web.zoom.us/j/81556849002?pwd=L1VjR1NTSDl5KzMxT3lybW04TmgvZz09", target: "_blank", class: "card-link link-to-js" do %>
    <div class="card-cont" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "cuisine_v2.png" %>);" >
      <p>La Cuisine</p>
    </div>
  <% end %>
  <%= link_to "https://us02web.zoom.us/j/82148270833?pwd=eFBzMTR2bTQ2L25abEF6SUw0MDRDQT09", target: "_blank", class: "card-link link-to-js" do %>
    <div class="card-cont" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "terrasse_v2.png" %>);" >
      <p>La Terrasse</p>
    </div>
  <% end %>
</div>
<div class="d-flex links-container">
  <%= link_to "https://us02web.zoom.us/j/85193011736?pwd=M0h1UzlySnRVUzc2bEZ1VEtzRlkvdz09", target: "_blank", class: "card-link link-to-js" do %>
    <div class="card-cont" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "chambre_v2.png" %>);" >
      <p>La Chambre</p>
    </div>
  <% end %>
  <%= link_to "https://us02web.zoom.us/j/89190710837?pwd=Mk4vVktoMnBkdnRQeUk2TTFpMHdKQT09", target: "_blank", class: "card-link link-to-js" do %>
    <div class="card-cont" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "toilettes_v2.png" %>);" >
      <p>Les Toilettes</p>
    </div>
  <% end %>
  <%= link_to "https://us02web.zoom.us/j/86268587876?pwd=d2kyYmlnM2RQN2JNYUFKRytvZ2lQQT09", target: "_blank", class: "card-link link-to-js" do %>
    <div class="card-cont" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path "cave_v2.png" %>);" >
      <p>La Cave</p>
    </div>
  <% end %>
</div>

<div style="display: none;">
  <% if user_signed_in? %>

    <%= simple_form_for(current_user.room, remote: true) do |f| %>
      <%= f.input :room, id: "room-input" %>
      <%= f.submit "ok", id: 'click_update_form' %>
    <% end %>

    <script>
      const onClick = (button) => {
        button.addEventListener('click', (event) => {
          const text = button.children[0].children[0].innerText;
          document.querySelector('#room_room').value = `dans ${text}`;
          document.querySelector('#click_update_form').click();
        })
      };

      document.querySelectorAll('.link-to-js').forEach((link) => {
        onClick(link);
      });

      document.querySelector('#log-out-link').addEventListener('click', (event) => {
        document.querySelector('#room_room').value = "Hors Ligne";
        document.querySelector('#click_update_form').click();
        setTimeout('document.querySelector("#hidden-logout-link").click()', 300);
      });

    </script>

  <% end %>
</div>
